#footer
  Powered by Interactive-ltd
  2012-#{Date.today.year}
  \|
  = image_tag "iconset_attribution.png"
  Icons from the 
  = link_to 'Gentleface Mono Icon Set', "http://gentleface.com/free_icon_set.html"

    
%br

